In [2]:
from eurostatapiclient import EurostatAPIClient

In [3]:
# Choose service version : only 1.0 is currently available
VERSION = '1.0'

# Only json is currently available
FORMAT = 'json'

# Specify language : en, fr, de
LANGUAGE = 'en'

client = EurostatAPIClient(VERSION, FORMAT, LANGUAGE)

In [6]:
# Get the list of years for analysis
time_period = [ t for t in range(2010, 2020)]

# Get the list of countries for analysis
country_codes = [
    "BE",  # Belgium
    "BG",  # Bulgaria
    "CZ",  # Czechia
    "DK",  # Denmark
    "DE",  # Germany
    "EE",  # Estonia
    "IE",  # Ireland
    "ES",  # Spain
    "FR",  # France
    "HR",  # Croatia
    "IT",  # Italy
    "CY",  # Cyprus
    "LV",  # Latvia
    "LT",  # Lithuania
    "LU",  # Luxembourg
    "HU",  # Hungary
    "MT",  # Malta
    "NL",  # Netherlands
    "AT",  # Austria
    "PL",  # Poland
    "PT",  # Portugal
    "RO",  # Romania
    "SI",  # Slovenia
    "SK",  # Slovakia
    "FI",  # Finland
    "SE",  # Sweden
    "IS",  # Iceland
    "NO",  # Norway
    "CH",  # Switzerland
    "UK",  # UNITed Kingdom
    "TR"   # TÃ¼rkiye
]

# Get the list of indicators for analysis
# The list of indicators can be found at https://ec.europa.eu/eurostat/databrowser/explore/all/all_themes?lang=en&display=list&sort=category
indicators = {
    'prc_hpi_a': {
        "unit": "RCH_A_AVG", # Annual average rate of change
        "purchase": "TOTAL"
    },  # House price index
    'tipsho60': {
        "unit": "PTIR_LT_AVG" # Price-to-income ratio relative to long-term average
    }, # Standardised house price-to-income ratio
    'sts_cobp_a': {
        "unit": "I21", # Index, 2021=100
        "indic_bt": "BPRM_SQM", # Building permits - m2 of useful floor area
        "cpa2_1": "CPA_F41001" # Residential buildings
    }, # Building permits
    'migr_imm1ctz': {
        "CITIZEN": "TOTAL",
        "agedef": "REACH",
        "age": "TOTAL",
        "sex": "T"
    }, # Immigration by age group, sex and citizenship
    'ilc_lvps08': {
        "sex": "T",
        "age": "Y18-34" # From 18 to 34 years
    }, # Persons living with their parents or contributing/benefiting from the household income (population aged 18 to 34 years)
    'sts_copi_a': {
        "unit": "PCH_SM" # Percentage change compared to same period in previous year
        "indic_bt": "PRC_PRR", # Producer prices
    }, # Construction producer prices or costs, new residential buildings
    # 'crim_off_cat': {
    #     "unit": "P_HTHAB" # Per hundred thousand inhabitants
    # }, # Police-recorded offences by offence category
    'earn_nt_net': {
        "ecase": "P1_NCH_AW100" # Single person without children earning 100% of the average earning
        "currency": "EUR",
        "estruct": "NET" # Net earning
    }, # Annual net earnings
    'ilc_li48': {
        "deg_urb": "TOTAL"
    }, # At-risk-of-poverty rate after deducting housing costs by degree of urbanisation
    'tps00003': {
        # No aditional parameters
    }, # Population density
    'tps00206': {
        # No aditional parameters
    }, # Crude marriage rate
    'tec00118': {
        # No aditional parameters
    }, # HICP - inflation rate
    'tps00019': {
        "indic_de": "GROWRT" # Crude rate of total population change
    }, # Population change - crude rates of total change, natural change and net migration plus adjustment
    'tesem120': {
        "sex": "T"
    }, # Unemployment rate by sex
    # 'ert_bil_eur_a': {
    #     "unit": ""
    # }, # Euro/ECU exchange rates - annual data
}

for indicator in indicators:
    indicators[indicator]['country_codes'] = country_codes
    indicators[indicator]['time_period'] = time_period
    indicators[indicator]['freq'] = 'A'

print(indicators['prc_hpi_a'])

SyntaxError: expression expected after dictionary key and ':' (4099584773.py, line 42)

In [11]:
id = 'migr_imm1ctz'

filtered_dataset = client.get_dataset(id).to_dataframe()
filtered_dataset

          values freq citizen   agedef    age unit sex        geo  time
0            NaN    A     EUR    REACH  TOTAL   NR   T  EU27_2020  1998
1            NaN    A     EUR    REACH  TOTAL   NR   T  EU27_2020  1999
2            NaN    A     EUR    REACH  TOTAL   NR   T  EU27_2020  2000
3            NaN    A     EUR    REACH  TOTAL   NR   T  EU27_2020  2001
4            NaN    A     EUR    REACH  TOTAL   NR   T  EU27_2020  2002
...          ...  ...     ...      ...    ...  ...  ..        ...   ...
58724995     NaN    A     UNK  COMPLET    UNK   NR   F         AZ  2018
58724996     NaN    A     UNK  COMPLET    UNK   NR   F         AZ  2019
58724997     NaN    A     UNK  COMPLET    UNK   NR   F         AZ  2020
58724998     NaN    A     UNK  COMPLET    UNK   NR   F         AZ  2021
58724999     NaN    A     UNK  COMPLET    UNK   NR   F         AZ  2022

[58725000 rows x 9 columns]